## AMPHORA CHALLENGE
#### By María José Carbajal Alonso

In [1]:
#importar librerias
import pandas as pd
import numpy as np
import os

In [352]:
#Ancestry file
ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t')
#ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t',index_col='Sample name')

In [353]:
#Superpopulation code column
ancestry_file['Superpopulation code'].head(2)
#ancestry_file.info()
spp_code = pd.DataFrame()
spp_code['sample_name'] = ancestry_file['Sample name']
spp_code['superpopulation_code'] = ancestry_file['Superpopulation code']
spp_code.set_index('sample_name', inplace=False)
spp_code

     sample_name superpopulation_code
0        NA19625                  AFR
1        NA19835                  AFR
2        NA19900                  SAS
3        NA19917                  AFR
4        NA19703                  AFR
...          ...                  ...
2499     NA19201                  AFR
2500     NA19206                  AFR
2501     NA19213                  AFR
2502     NA19225                  AFR
2503     NA19143                  AFR

[2504 rows x 2 columns]

In [ ]:
ancestry_file.columns

In [7]:
dir_name = 'Challenge_Samples'

In [31]:
import glob #library to get all files that match with the extension given


# Give the route and the extension
csv_files = glob.glob('pruebas/*.csv')
# this will give a list of the files names
#print(csv_files)

list_data = []
  
# Escribimos un loop que irá a través de cada uno de los nombres de archivo a través de globbing y el resultado final será la lista dataframes

for filename in csv_files:
    data = pd.read_csv(filename)
    data.set_index
    list_data.append(data)

#Para chequear que todo está bien, mostramos la list_data por consola
list_data
 
#pd.concat(list_data)
csv_files

['pruebas\\HG00097.csv',
 'pruebas\\HG00236.csv',
 'pruebas\\HG00277.csv',
 'pruebas\\NA21130.csv']

In [16]:
patient2 = pd.read_csv('Challenge_Samples/HG00236.csv',index_col=0)
patient2

            ALT  HG00236
5;195139      T        0
5;336952      C        1
5;389603      C        0
5;851582      A        1
5;1144802     C        1
...          ..      ...
22;49797810   A        0
22;49855674   G        1
22;50021013   A        0
22;50258751   A        1
22;50458664   C        0

[10028 rows x 2 columns]

In [19]:
len(list(patient1_copy['Unnamed: 0']))

10028

In [158]:


patient_x = pd.read_csv('Challenge_Samples/NA21144.csv')
patientX_copy = patient_x.copy()
patientX_copy.rename(columns={'NA21144':'Presence'},inplace=True)
indice_paciente = patientX_copy.columns[1]
#patient1_copy.set_index('NA21144')
list(patientX_copy['Unnamed: 0'])
list(patientX_copy['ALT'])
alt_list= list(patientX_copy['ALT'])
presence_list = list(patientX_copy['Presence'])
patientX_copy.tail()

#len(list(patientX_copy['Unnamed: 0']))
#p = pd.read_csv('C:\Users\Majo Carbajal\Documents\Amphora Challenge\AmphoraProject\Challenge _Samples\HG00096.csv')

        Unnamed: 0 ALT  Presence
10023  22;49797810   A         0
10024  22;49855674   G         1
10025  22;50021013   A         0
10026  22;50258751   A         1
10027  22;50458664   C         0

In [346]:
#coincidencia de spp_code
paciente = 'NA19703'
spp_code.columns

code = spp_code[spp_code['sample_name']==paciente]['superpopulation_code'][4]
#type(spp_code['sample_name']==paciente)
#spp_code[spp_code['sample_name']==paciente]
code

'AFR'

In [348]:
#funcion 
def obtenerCodigo(paciente):
    code = spp_code[spp_code['sample_name']==paciente]['superpopulation_code'][4]
    return code

obtenerCodigo('NA19703')

'AFR'

In [354]:
patients = patients[:5]

for patient in patients:
    paciente = patient
    print(paciente)
    
    #code = spp_code[spp_code['sample_name']==paciente]['superpopulation_code'][0]

    code= spp_code[spp_code['sample_name']==paciente]['superpopulation_code']
   
    print(list(code))

NA19625
['AFR']
NA19835
['AFR']
NA19900
['SAS']
NA19917
['AFR']
NA19703
['AFR']

In [389]:
patients = patients[:5]
main_df = pd.DataFrame()
main_df2 = pd.DataFrame()
for i in range(len(patients)):

    paciente = 'sxdfghjkl'
    #obtener paciente
    patient_x = pd.read_csv('Challenge_Samples/'+patients[i]+'.csv')
    patientX_copy = patient_x.copy()
    patientX_copy.rename(columns={patients[i]:'Presence'},inplace=True)
    indice_paciente = patientX_copy.columns[1]
    #patient1_copy.set_index('NA21144')
    list(patientX_copy['Unnamed: 0'])
    list(patientX_copy['ALT'])
    alt_list= list(patientX_copy['ALT'])
    presence_list = list(patientX_copy['Presence'])

    code = spp_code[spp_code['sample_name']==patients[i]]['superpopulation_code']
    
    

    #crear los multiindices
    index = pd.MultiIndex.from_product(
        #recibir el paciente sin la extensión csv
        [[patients[i]], list(code), #<- mandar de forma dinámica
        list(patientX_copy['Unnamed: 0'])], 
        names=['Patient', 'Superpopulation Code', 'Chr:Location']
        )

    d = {'ALT': alt_list, 'Presence': presence_list}


    datos = {'paciente':patients[i], 'ssp_code':list(code),'ALT': alt_list, 'Presence': presence_list }
    columnas = pd.MultiIndex.from_product([[patients[i]]],
                                     names=['paciente'])
    index = pd.MultiIndex.from_product(
        #recibir el paciente sin la extensión csv
        [ #<- mandar de forma dinámica
        list(patientX_copy['Unnamed: 0'])], 
        names=[ 'Chr:Location']
        )


    df_patient = pd.DataFrame(index=index,
                    data=d 
                    #columns=['ChrLocation', 'ALT','Presence']
                    )

    df_patient2 = pd.DataFrame(index=index,
    data=datos, columns=columnas
    #columns=['ChrLocation', 'ALT','Presence']
    )
    #df_patient

    main_df = pd.concat([main_df,df_patient], axis=0)
    main_df2 = pd.concat([main_df2,df_patient], axis=0)




#main_df.groupby([pd.Grouper(level=1)]).sum()

main_df.xs

<bound method NDFrame.xs of              ALT  Presence
Chr:Location
5;195139       T         0
5;336952       C         0
5;389603       C         1
5;851582       A         1
5;1144802      C         1
...           ..       ...
22;49797810    A         0
22;49855674    G         1
22;50021013    A         0
22;50258751    A         0
22;50458664    C         0

[50140 rows x 2 columns]>

In [121]:
index = pd.MultiIndex.from_product([#recibir el paciente sin la extensión csv
    ['HG0236'], ['EUR'], #<- mandar de forma dinámica
    list(patient1_copy['Unnamed: 0'])], 
    names=['Patient', 'Superpopulation_Code', 'Chr:Location'])

d = {'Chr:Location':list(patient1_copy['Unnamed: 0']),'ALT': alt_list, 'Presence': presence_list}
df2 = pd.DataFrame(index=index, 
                  data=d, 
                  #columns=['ALT','Presence', 'Superpopulation Code']
                  )
df2

                                          Chr:Location ALT  Presence
Patient Superpopulation_Code Chr:Location
HG0236  EUR                  5;195139         5;195139   T         0
                             5;336952         5;336952   C         0
                             5;389603         5;389603   C         0
                             5;851582         5;851582   A         0
                             5;1144802       5;1144802   C         1
...                                                ...  ..       ...
                             22;49797810   22;49797810   A         0
                             22;49855674   22;49855674   G         1
                             22;50021013   22;50021013   A         0
                             22;50258751   22;50258751   A         1
                             22;50458664   22;50458664   C         0

[10028 rows x 3 columns]

In [125]:
main_df = pd.concat([df1,df2], axis=0)
prueba= main_df.groupby([pd.Grouper(level=0)]).sum()

prueba.index

Index(['HG0097', 'HG0236'], dtype='object', name='Patient')

In [149]:


# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob'], ['HR', 'Temp', 'jmdc ']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 3), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob
type          HR  Temp jmdc
year visit
2013 1      56.0  35.4  23.0
     2      30.0  35.6  29.0
2014 1      17.0  35.7  39.0
     2      44.0  37.2  12.0