<a href="https://colab.research.google.com/github/MajoCarb/AmphoraProject/blob/master/main5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AMPHORA CHALLENGE
#### By María José Carbajal Alonso

In [1]:
#importar librerias
import pandas as pd

In [4]:
#Ancestry file
ancestry_file = pd.read_csv('drive/MyDrive/Amphora/ancestry-1000genome.tsv', sep='\t')
#ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t',index_col='Sample name')

#Superpopulation code dataframe
spp_code = pd.DataFrame()
spp_code['sample_name'] = ancestry_file['Sample name']

#gatting the patients only
patients = spp_code['sample_name']

spp_code['superpopulation_code'] = ancestry_file['Superpopulation code']
spp_code.set_index('sample_name', inplace=True)

#getting the 5 categories we will use (ancestry types)
ancestry_types = list(spp_code['superpopulation_code'].unique())
ancestry_types

['AFR', 'SAS', 'EUR', 'AMR', 'EAS']

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [40]:
#Reduction of number of patients using a sample of 40%, random state makes that the sample be the same 
patients_=patients.sample(frac=.5, random_state=1)
list(patients_.head(1).values)[0]

'NA20876'

In [ ]:
# code = spp_code[spp_code.index==list(patients_.head(1).values)[0]]['superpopulation_code'][0] 
# code
# eur_res = [1] * 10 if code == 'EUR' else [0]*10
# eur_res

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [41]:
#selecting some patients in order to reduce data
# patients_ = patients[426:449]
# patients_= patients_.append([patients[524:542], patients[920:938], patients[1028:1046]])
main_df = pd.DataFrame()
lenn= 5000 #total len = 10028

for patient in patients_:

  
    #Gatting the patient's information in the CSV file 
    patient_x = pd.read_csv('drive/MyDrive/Amphora/Challenge_Samples/'+patient+'.csv')
    patient_x.rename(columns={patient:'Presence'},inplace=True)
    
    #Creating the ALT and Presence lists (These will be the columns)    
    alt_list= list(patient_x['ALT'])
    alt_list=alt_list[:lenn]
    presence_list = list(patient_x['Presence'])
    presence_list=presence_list[:lenn]

    #Getting the superpopulation code from the patient
    code = list(spp_code[spp_code.index==patient]['superpopulation_code'] )

    afr_res = [1] * lenn if code[0] == 'AFR' else [0]*lenn
    eur_res = [1] * lenn if code[0] == 'EUR' else [0]*lenn
    sas_res = [1] * lenn if code[0] == 'SAS' else [0]*lenn
    amr_res = [1] * lenn if code[0] == 'AMR' else [0]*lenn
    eas_res = [1] * lenn if code[0] == 'EAS' else [0]*lenn
    

    #Getting the Chromosoma:Location list
    list_chr_loc = list(patient_x['Unnamed: 0'])
    list_chr_loc=list_chr_loc[:lenn]

    #creating  multi indexes
    index = pd.MultiIndex.from_product(       
        [[patient], code, list_chr_loc], 
        names=['Patient', 'Superpopulation Code', 'Chr:Location']
        )

    d = {'ALT': alt_list, 'Presence': presence_list, 'EUR': eur_res, 'SAS':sas_res, 'AFR':afr_res, 'AMR':amr_res, 'EAS':eas_res}

    df_patient = pd.DataFrame(index=index,
                    data=d 
                    #columns=['ChrLocation', 'ALT','Presence']
                    )    
        
    main_df = pd.concat([main_df,df_patient], axis=0)

    

patients_main_df=list(set(main_df.index.get_level_values('Patient')))
spp_code_main_df=list(set(main_df.index.get_level_values('Superpopulation Code')))
main_df

                                          ALT  Presence  EUR  SAS  AFR  AMR  \
Patient Superpopulation Code Chr:Location
NA20876 SAS                  5;195139       T         0    0    1    0    0
                             5;336952       C         0    0    1    0    0
                             5;389603       C         0    0    1    0    0
                             5;851582       A         0    0    1    0    0
                             5;1144802      C         1    0    1    0    0
...                                        ..       ...  ...  ...  ...  ...
HG01029 EAS                  4;90761412     C         0    0    0    0    0
                             4;90799451     A         0    0    0    0    0
                             4;90912225     T         1    0    0    0    0
                             4;90958245     A         0    0    0    0    0
                             4;91320056     A         0    0    0    0    0

                                           EAS
Patient Superpopulation Code Chr:Location
NA20876 SAS                  5;195139        0
                             5;336952        0
                             5;389603        0
                             5;851582        0
                             5;1144802       0
...                                        ...
HG01029 EAS                  4;90761412      1
                             4;90799451      1
                             4;90912225      1
                             4;90958245      1
                             4;91320056      1

[6260000 rows x 7 columns]

In [37]:
len(patients_main_df)

1002

In [ ]:
for patient in patients_:

  
    #Gatting the patient's information in the CSV file 
    patient_x = pd.read_csv('Challenge_Samples/'+patient+'.csv')
    patientX_copy = patient_x.copy()
    patientX_copy.rename(columns={patient:'Presence'},inplace=True)
    
    #Creating the ALT and Presence lists (These will be the columns)    
    alt_list= list(patientX_copy['ALT'])
    alt_list=alt_list[:10]
    presence_list = list(patientX_copy['Presence'])
    presence_list=presence_list[:10]

    #Getting the superpopulation code from the patient
    code = list(spp_code[spp_code.index==patient]['superpopulation_code'] )
    print(code)
    sas_res = [1] * 10 if code[0] == 'SAS' else [0]*10
    print(sas_res)

In [38]:
#main_df.xs('EUR',level='Superpopulation Code')
main_df.xs('NA18525')
# main_df.index.names
#spp_code_main_df
#patients_main_df[:5]

                                  ALT  Presence  EUR  SAS  AFR  AMR  EAS
Superpopulation Code Chr:Location
EAS                  5;195139       T         0    0    0    0    0    1
                     5;336952       C         0    0    0    0    0    1
                     5;389603       C         0    0    0    0    0    1
                     5;851582       A         1    0    0    0    0    1
                     5;1144802      C         1    0    0    0    0    1
...                                ..       ...  ...  ...  ...  ...  ...
                     14;51830426    C         0    0    0    0    0    1
                     14;51855412    G         0    0    0    0    0    1
                     14;52096443    C         1    0    0    0    0    1
                     14;52244332    G         1    0    0    0    0    1
                     14;52367454    G         0    0    0    0    0    1

[4000 rows x 7 columns]

In [ ]:
main_df
ancestry_freq=main_df.index.get_level_values('Superpopulation Code').value_counts()//10
ancestry_freq

AFR    64
EAS    55
EUR    45
SAS    43
AMR    43
Name: Superpopulation Code, dtype: int64

In [ ]:
list(main_df.index.get_level_values('Superpopulation Code').unique())

['SAS', 'AMR', 'EAS', 'AFR', 'EUR']

In [ ]:
main_df.to_csv('main_df.csv', index=True)
df_without_index = pd.read_csv('main_df.csv')
df_without_index

                                  ALT  Presence  EUR
Superpopulation Code Chr:Location
EAS                  5;195139       T         0    0
                     5;336952       C         1    0
                     5;389603       C         0    0
                     5;851582       A         0    0
                     5;1144802      C         1    0
                     5;1167618      C         0    0
                     5;1175892      G         0    0
                     5;1398007      T         0    0
                     5;1447860      T         0    0
                     5;1721485      C         0    0

## Here starts the section of training the model

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(main_df, test_size=0.2)
test
train.sort_index()
train.index.names[0]
train

,,,ALT,Presence,EUR,SAS,AFR,AMR,EAS
Patient,Superpopulation Code,Chr:Location,,,,,,,
HG00628,EAS,5;1167618,C,0,0,0,0,0,1
HG01072,AMR,5;1175892,G,0,0,0,0,1,0
HG01284,AMR,5;1398007,T,0,0,0,0,1,0
HG01097,AMR,5;195139,T,0,0,0,0,1,0
NA19703,AFR,5;389603,C,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
HG02611,AFR,5;1144802,C,1,0,0,1,0,0
HG01939,AMR,5;389603,C,0,0,0,0,1,0
NA19077,EAS,5;336952,C,0,0,0,0,0,1
HG01251,AMR,5;1398007,T,1,0,0,0,1,0
NA19189,AFR,5;1447860,T,0,0,0,1,0,0

In [ ]:
X=main_df
x = 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

NameError: name 'y' is not defined

In [ ]:
main_df.index.names

FrozenList(['Patient', 'Superpopulation Code', 'Chr:Location'])

In [ ]:
x = df_without_index.drop(['Superpopulation Code'],axis=1)
x

      Patient Chr:Location ALT  Presence  EUR  SAS  AFR  AMR  EAS
0     NA20876     5;195139   T         0    0    1    0    0    0
1     NA20876     5;336952   C         0    0    1    0    0    0
2     NA20876     5;389603   C         0    0    1    0    0    0
3     NA20876     5;851582   A         0    0    1    0    0    0
4     NA20876    5;1144802   C         1    0    1    0    0    0
...       ...          ...  ..       ...  ...  ...  ...  ...  ...
2495  HG01815    5;1167618   C         0    0    0    0    0    1
2496  HG01815    5;1175892   G         0    0    0    0    0    1
2497  HG01815    5;1398007   T         0    0    0    0    0    1
2498  HG01815    5;1447860   T         0    0    0    0    0    1
2499  HG01815    5;1721485   C         0    0    0    0    0    1

[2500 rows x 9 columns]

In [ ]:
y = df_without_index['Superpopulation Code']
y

0       SAS
1       SAS
2       SAS
3       SAS
4       SAS
       ...
2495    EAS
2496    EAS
2497    EAS
2498    EAS
2499    EAS
Name: Superpopulation Code, Length: 2500, dtype: object

### European ancestry SVM

In [ ]:
df_eur = main_df.drop(['SAS', 'AFR', 'AMR', 'EAS'], axis=1)
df_eur = df_eur.reset_index()
df_eur.set_index(['Patient','Superpopulation Code', 'Chr:Location','ALT'],inplace=True)
df_eur
#len((set(df_eur.index.get_level_values('Patient'))))
patients_eur_df=list(set(df_eur.index.get_level_values('Patient')))
len(patients_eur_df)

250

In [ ]:
x = df_eur.drop(['EUR'],axis=1)
y = df_eur[['EUR']]
#y = column_or_1d(y, warn=True)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, train_size=0.8,random_state=1)
X_train.sort_values(by='Patient')

                                               Presence
Patient Superpopulation Code Chr:Location ALT
HG00107 EUR                  5;389603     C           1
                             5;1144802    C           1
                             5;1167618    C           0
                             5;1175892    G           0
                             5;1398007    T           0
...                                                 ...
NA21090 SAS                  5;195139     T           0
                             5;389603     C           0
                             5;1167618    C           0
                             5;1447860    T           1
                             5;1144802    C           1

[2000 rows x 1 columns]

In [ ]:
#Import svm model
from sklearn import svm
from sklearn.metrics import mean_absolute_error

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train.values.ravel())
"""
.values will give the values in a numpy array (shape: (n,1))

.ravel will convert that array shape to (n, ) (i.e. flatten it)
"""

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Calculo el error medio absoluto
mean_absolute_error(y_test, y_pred)

0.204

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.796
Precision: 0.0
Recall: 0.0

c:\Users\Majo Carbajal\anaconda3\envs\amphora\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:

y_test.value_counts()

EUR
0      398
1      102
dtype: int64

In [ ]:
ancestry_freq=df_eur.index.get_level_values('Superpopulation Code').value_counts()//10
ancestry_freq

AFR    64
EAS    55
EUR    45
SAS    43
AMR    43
Name: Superpopulation Code, dtype: int64

In [ ]:
#IMPORTANT: first argument is true values, second argument is predicted values
# this produces a 2x2 numpy array (matrix)
print(metrics.confusion_matrix(y_test, y_pred))

[[398   0]
 [102   0]]

In [ ]:
confusion = metrics.confusion_matrix(y_test, y_pred)
print(confusion)
#[row, column]
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

[[398   0]
 [102   0]]

In [ ]:


# use float to perform true division, not integer division
print((TP + TN) / float(TP + TN + FP + FN))
print(metrics.accuracy_score(y_test, y_pred))

0.796
0.796

In [ ]:
#Sensitivity: When the actual value is positive, how often is the prediction correct?

sensitivity = TP / float(FN + TP)

print(sensitivity)
print(metrics.recall_score(y_test, y_pred))

0.0
0.0

In [ ]:
precision = TP / float(TP + FP)

print(precision)
print(metrics.precision_score(y_test, y_pred))

nan
0.0

c:\Users\Majo Carbajal\anaconda3\envs\amphora\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
c:\Users\Majo Carbajal\anaconda3\envs\amphora\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))