## AMPHORA CHALLENGE
#### By María José Carbajal Alonso

In [1]:
import pandas as pd
import numpy as np
import os

In [20]:
#Ancestry file
ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t')
#ancestry_file = pd.read_csv('ancestry-1000genome.tsv', sep='\t',index_col='Sample name')

In [143]:
ancestry_file['Superpopulation code'].head(2)
#ancestry_file.info()

0    AFR
1    AFR
Name: Superpopulation code, dtype: object

In [7]:
dir_name = 'Challenge_Samples'

In [ ]:
import glob #library to get all files that match with the extension given


# Give the route and the extension
csv_files = glob.glob('pruebas/*.csv')
# this will give a list of the files names
#print(csv_files)

list_data = []
  
# Escribimos un loop que irá a través de cada uno de los nombres de archivo a través de globbing y el resultado final será la lista dataframes

for filename in csv_files:
    data = pd.read_csv(filename)
    data.set_index
    list_data.append(data)

#Para chequear que todo está bien, mostramos la list_data por consola
list_data
 
pd.concat(list_data)

In [ ]:
patient2 = pd.read_csv('Challenge_Samples/HG00236.csv',index_col=0)
patient2

In [133]:
len(list(patient1_copy['Unnamed: 0']))

10028

In [2]:


patient1 = pd.read_csv('Challenge_Samples/NA21144.csv')
patient1_copy = patient1.copy()
patient1_copy.rename(columns={'NA21144':'Presence'},inplace=True)
indice_paciente = patient1_copy.columns[1]
#patient1_copy.set_index('NA21144')
list(patient1_copy['Unnamed: 0'])
list(patient1_copy['ALT'])
alt_list= list(patient1_copy['ALT'])
presence_list = list(patient1_copy['Presence'])
patient1_copy
#p = pd.read_csv('C:\Users\Majo Carbajal\Documents\Amphora Challenge\AmphoraProject\Challenge _Samples\HG00096.csv')

        Unnamed: 0 ALT  Presence
0         5;195139   T         0
1         5;336952   C         0
2         5;389603   C         0
3         5;851582   A         0
4        5;1144802   C         1
...            ...  ..       ...
10023  22;49797810   A         0
10024  22;49855674   G         1
10025  22;50021013   A         0
10026  22;50258751   A         1
10027  22;50458664   C         0

[10028 rows x 3 columns]

In [3]:
index = pd.MultiIndex.from_product([#recibir el paciente sin la extensión csv
    ['HG0097'], ['AFR'], #<- mandar de forma dinámica
    list(patient1_copy['Unnamed: 0'])], 
    names=['Patient', 'Superpopulation Code', 'Chr:Location'])

d = {'ALT': alt_list, 'Presence': presence_list}
df1 = pd.DataFrame(index=index, 
                  data=d, 
                  #columns=['ALT','Presence', 'Superpopulation Code']
                  )
df1

                                          ALT  Presence
Patient Superpopulation Code Chr:Location
HG0097  AFR                  5;195139       T         0
                             5;336952       C         0
                             5;389603       C         0
                             5;851582       A         0
                             5;1144802      C         1
...                                        ..       ...
                             22;49797810    A         0
                             22;49855674    G         1
                             22;50021013    A         0
                             22;50258751    A         1
                             22;50458664    C         0

[10028 rows x 2 columns]

In [4]:
index = pd.MultiIndex.from_product([#recibir el paciente sin la extensión csv
    ['HG0236'], ['AFR'], #<- mandar de forma dinámica
    list(patient1_copy['Unnamed: 0'])], 
    names=['Patient', 'Superpopulation Code', 'Chr:Location'])

d = {'ALT': alt_list, 'Presence': presence_list}
df2 = pd.DataFrame(index=index, 
                  data=d, 
                  #columns=['ALT','Presence', 'Superpopulation Code']
                  )
df2

                                          ALT  Presence
Patient Superpopulation Code Chr:Location
HG0236  AFR                  5;195139       T         0
                             5;336952       C         0
                             5;389603       C         0
                             5;851582       A         0
                             5;1144802      C         1
...                                        ..       ...
                             22;49797810    A         0
                             22;49855674    G         1
                             22;50021013    A         0
                             22;50258751    A         1
                             22;50458664    C         0

[10028 rows x 2 columns]

In [7]:
main_df = pd.concat([df1,df2], axis=0)
main_df

                                          ALT  Presence
Patient Superpopulation Code Chr:Location
HG0097  AFR                  5;195139       T         0
                             5;336952       C         0
                             5;389603       C         0
                             5;851582       A         0
                             5;1144802      C         1
...                                        ..       ...
HG0236  AFR                  22;49797810    A         0
                             22;49855674    G         1
                             22;50021013    A         0
                             22;50258751    A         1
                             22;50458664    C         0

[20056 rows x 2 columns]